/* src/App.css */
.app-container {
  display: flex;
  flex-direction: column;
  flex: 1; /* Grow to fill the body’s height */
}

main {
  flex: 1 0 auto; /* Expand to push footer down */
}

.header {
  flex-shrink: 0; /* Prevent shrinking */
}

.footer {
  flex-shrink: 0; /* Prevent shrinking */
}